body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250,247,235);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    width: 1000px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 30px;
  }
  
  h1 {
    text-align: center;
    color: darkblue;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
  }
  
  table th {
    background-color: lightsteelblue;
    color: darkblue;
  }
  
  .btn{
    background:lightsteelblue;
    color:darkblue;
    padding:8px 14px;
    border:none;
    border-radius:5px;
    text-decoration:none;
}
  
  .btn:hover {
    background-color: #333;
  }
  .btn a {
    color: darkblue;
    text-decoration: none;
    display: block;
}

  .contenitore-bottoni-fine {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 40px;
    padding: 0 20px;
  }
  
  
  